<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<html lang = "en">
	<head>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<section>
	<div class="container">
  <div class="hello-kitty"></div>
  <div class="eye-container">
    <div class="eye left-eye"></div>
    <div class="eye right-eye"></div>
  </div>
  <div class="nose"></div>
  <div class="whisker w1"></div>
  <div class="whisker w2"></div>
  <div class="whisker w3"></div>
  <div class="whisker w4"></div>
  <div class="whisker w5"></div>
  <div class="whisker w6"></div>
  <div class="ear left-ear"></div>
  <div class="ear right-ear"></div>
  <div class="bow bow-center"></div>
  <div class="bow bow-left"></div>
  <div class="bow bow-right"></div>
  <div class="bow bow-detail-left"></div>
  <div class="bow bow-detail-right"></div>
  <div class="ear-detail ear-detail-left"></div>
  <div class="ear-detail ear-detail-right"></div>
  <div class="ear-line"></div>
</div>
	</section>
	<div class="container2">
<h2 class="text"> HELLO!</h2>
<h3 class="text">WELCOME TO</h3>
<h1 class="text"><b>HELLO KITTY ISLAND ADVENTURE</b> </h3>
<p class="text2">(actual gameplay coming soon; in the meantime, make an account!)</p><br>
<table class="center">

	<form action="/signup" method="POST">
		<tr><td><label for="name">Name:    </label></td><td><input type="text" id="name" name="name"></td></tr>
		<td><label for="pass">Password:</label></td><td><input type="password" id="pass" name="pass"></td></tr>
</table>
		<input type="submit" value="Sign Up">
	</form>
	<br>
	<br>
	{% if error %}
	<b>Error:</b>{{error}}
	{% endif %}
	<br>
	<br>
	<p class="text2">Already have an account? Log in!<br>
<table class="center">
	<form action="/login" method="POST">
		<tr><td><label for="name">Name:    </label></td><td><input type="text" id="name" name="name"></td></tr>
		<td><label for="pass">Password:</label></td><td><input type="password" id="pass" name="pass"></td></tr>
</table>
		<input type="submit" value="Login">
	</form>
	</div>

	{% endblock %}
